<div class="card bg-dark text-white">
  <img class="card-img" src="https://freerangestock.com/sample/173651/modern-kitchen-with-tablet-recipe-holder.jpg" alt="Card image">
  <div class="card-img-overlay">
    <h4 class="card-title">Cookbook</h4>
    <p class="card-text">See your favourite recipes here!</p>
  </div>
</div>

<div class ="title-top">
<h3> Categories List</h3>
  <%= link_to 'New Category', new_category_path, class: "btn btn-warning" %>
</div>

<div class="cards mt-3">
  <% @categories.each do |category| %>
    <% if category.photo.attached? %>
      <div class="card-category", style ="background-image: url('<%=cl_image_path category.photo.key %>')">
        <div>
          <h2><%= link_to category.name, category_path(category), class:"category-link" %></h2>
          <p><%= category.recipes.count %> recipes</p>
        </div>
      </div>
    <% else %>
      <div class="card-category", style ="background-image: url('<%= image_path "food.jpeg"%>')">
        <div>
          <h2><%= link_to category.name, category_path(category), class:"category-link" %></h2>
          <p><%= category.recipes.count %> recipes</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
